body {
  padding-bottom: 20px;
}


.slide{
	width:100%;
}

.container{
	width:90%;
}

.icon{
	width:50%;
	height:50%;
	margin-left:100px;
	padding:15px 0 15px 15px;
}

.panel{
	padding:-15px;
}



.page-top{
	background-color:red;
	height:30px;
	
}

#inputForm{
	position:relative;
	top:-40px;
	left:90px;
}

#topElement{
	height:52px;
	margin-bottom:25px;
}

.item{
	height:250px;
}

.section-headline {
	
}



